<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_name, class: "form-label" %>
    <%= form.text_field :user_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :coach_id, class: "form-label" %>
    <%= form.select :coach_id, Coach.all.collect { |c| [ c.name, c.id ] }, {}, { class: "form-select"} %>
  </div>

  <div class="field">
    <%= form.label :time_slot, class: "form-label" %>
    <%= form.select :time_slot, AvailableTime.first.time_slot_array.map { |t| [ t, t ] }, {}, { class: "form-select"} %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
