<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @appointment.user_name %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @appointment.coach.name %>
</p>

<p>
  <strong>Day of Week:</strong>
  <%= Date::DAYNAMES[@appointment.day_of_week] %>
</p>

<p>
  <strong>Time slot:</strong>
  <%= @appointment.time_slot.strftime("%l%M %p") %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
